// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #696f79;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

$grey: #8692a6;
$grey-invert: findColorInvert($grey);
$grey-dark: #696f79;
$input-placeholder-color: $grey;

$info: #2196f3;
$info-invert: findColorInvert($info);
$info-dark: #0a4c80;
$info-light: #2176ba;

$link: $blue;
$link-invert: findColorInvert($blue);
$link-dark: $blue-2;
$link-light: $blue;

$danger: $pink;
$danger-invert: findColorInvert($pink);
$danger-dark: $pink-strong;
// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black
    ),
    "black": (
      $black,
      $white
    ),
    "light": (
      $light,
      $light-invert
    ),
    "dark": (
      $dark,
      $dark-invert
    ),
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark
    ),
    "link": (
      $link,
      $link-invert,
      $link-light,
      $link-dark
    ),
    "info": (
      $info,
      $info-invert,
      $info-light,
      $info-dark
    ),
    "success": (
      $success,
      $success-invert,
      $success-light,
      $success-dark
    ),
    "warning": (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark
    ),
    "danger": (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark
    )
  ),
  $custom-colors
);

// Links
$link: $grey;
$link-invert: $grey-invert;
$link-focus-border: $grey;

// Sizes
$size-1: 4rem;

// Fonts
$family-sans-serif: "Montserrat", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: $font-secondary;

// Inputs
$input-border-color: $grey;
$input-focus-border-color: $blue-2;
$input-focus-box-shadow-size: 0px 4px 10px 3px;
$input-focus-box-shadow-color: rgba(0, 0, 0, 0.11);

// Cards
$card-content-padding: 0.2rem;
$card-shadow: 0px 4px 8px rgba(0, 0, 0, 0.17);
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
