@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2-variations"),
    url("../fonts/Montserrat-Italic.ttf") format("truetype");
  //  font-weight: 125 950;
  //  font-stretch: 75% 125%;
  //  font-style: oblique 0deg 12deg;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.woff2") format("woff2-variations"),
    url("../fonts/Montserrat.ttf") format("truetype");
  //  font-weight: 125 950;
  //  font-stretch: 75% 125%;
  //  font-style: oblique 0deg 12deg;
  font-style: normal;
  font-display: swap;
}
