@import "variables";

.input:not([type="checkbox"], .searchable-table .input) {
  padding: $input-padding;
}
// .searchable-table .input {
//   padding: unset !important;
// }

.formulate-input {
  color: $grey-2;
  * {
    font-family: $font-secondary;
  }
}
.file-upload-custom,
.formulate-input-element--select,
.formulate-input-element--file,
.formulate-input-element--password {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2rem;
    padding: $input-padding;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.formulate-input-element--password {
  &::after {
    background-image: url("../images/login/eye.svg");
  }
}
.formulate-input-element--file,
.file-upload-custom,
.formulate-input-element--select {
  &::after {
    background-image: url("../images/login/select.svg");
  }
}

.formulate-input-element--submit {
  button {
    // height: auto;
    padding: $input-padding;
    position: relative;
    // padding: 0.5rem;
  }
}
.formulate-input-element--submit--label,
.formulate-input-element--button--label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input-has-alt-padding {
  height: auto !important;
  padding: $input-padding-alt !important;
}
.formulate-input-element--date {
  input {
    height: auto;
    padding: $input-padding-alt !important;
  }
}
.input-padding {
  padding: $input-padding;
}

.taginput-field {
  // height: 100%;
  > div.taginput-container {
    // padding: $input-padding-alt !important;
    height: 66px !important;
    padding-left: 1.5rem !important;
  }
}

// .formulate-input-upload-area {
//   content: "Subir archivo PDF o JPG";
//   display: block !important;
//   background-color: $white;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   width: 100%;
//   height: 100%;
//   padding: $input-padding-alt;
//   margin: 0;
//   border-style: solid;
//   border-width: 1px;
//   background-color: #ffffff;
//   border-color: #8692a6;
//   border-radius: 4px;
//   color: $grey-2;
// }
//   .formulate-input-element--file {
//   position: relative;
//   padding: $input-padding-alt;
// }
.file-upload-custom {
  padding: $input-padding-alt;
}

.formulate-input-error {
  position: relative;
  padding-left: 1.25rem;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.75rem;
    background-image: url("../images/login/error.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.formulate-input[data-type="checkbox"] {
  .formulate-input-wrapper {
    display: flex;
    align-items: center;
  }
}
.formulate-input-element--checkbox {
  display: inline;
  display: grid;
  grid-template-areas: "checkbox";

  > * {
    grid-area: checkbox;
    align-self: center;
  }
  float: left;
  input {
    opacity: 0;
    width: 1em;
    height: 1em;
  }
  // float: left;
  // margin-right: 0.5rem;
  input ~ label {
    display: inline-grid;
    width: 1em;
    height: 1em;
    border-radius: 0.25em;
    border: 0.1em solid $grey-2;
    margin-right: 0.5rem;
    transition: $transition;
  }
  input:checked ~ label {
    background-image: url("../images/login/checked.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: $blue-1;
    border-color: $blue-1;
  }
}
