$pink: #ed4b7c;
$green: #378ea2;
$success: $green;
$pink-strong: #c8084d;
$yellow: #ffca19;
$black: #222222;
$orange: #ff8719;
$danger: #f44336;
$warning: $yellow;
$white: #ffffff;
$blue: #1959ff;
$blue-1: #2196f3;
$blue-2: #1565d8;
$grey-2: #696f79;
$transition: all 0.15s ease;

$input-padding: 2rem 1.5rem;
$input-padding-alt: 1.25rem 1.5rem;

// fonts
$font-secondary: "Inter", sans-serif;
