<template lang="pug">
div
    FormulateForm(v-model="formData" :schema="schema" @submit="handleSubmit" @validation="validation = $event")
    p.has-text-danger(v-if="hasError.hasError") {{ hasError.message }}
</template>
<script lang="ts">
import { defineComponent, ref } from "@vue/composition-api";
import { models } from "feathers-vuex/dist";
import schema from "./businessFirst.json";
import client from "@/feathers-client";
import { data, hasError, handleError } from "./utils";
export default defineComponent({
  setup(props, context) {
    const { $router, $store } = context.root;
    const formData = data("business");
    const validation = ref({});
    const handleSubmit = async () => {
      try {
        const user = await client
          .service("users")
          .create({ ...formData.value });
        $store.dispatch("auth/authenticate", {
          strategy: "local",
          email: formData.value.email,
          password: formData.value.password
        });
        $router.push({ path: "/signup/verify" });
      } catch (err) {
        handleError(err);
      }
    };
    return {
      schema,
      formData,
      handleSubmit,
      hasError,
      validation
    };
  }
});
</script>
<style lang="scss" scoped></style>
