<template lang="pug">
div
    FormulateForm(v-model="formData" :schema="schema" @submit="handleSubmit")
    p.has-text-danger(v-if="hasError.hasError") {{ hasError.message }}
</template>
<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import schema from "./businessSecond.json";
import { data, hasError, handleError } from "./utils";
import client from "@/feathers-client";
export default defineComponent({
  setup(props, context) {
    const { $router, $store } = context.root;
    const formData = data("business");
    const handleSubmit = async () => {
      try {
        await client
          .service("users")
          .patch($store.getters["auth/user"]._id, { ...formData.value });

        $router.push({ path: "/signup/confirm" });
      } catch (err) {
        handleError(err);
      }
    };
    return {
      schema,
      formData,
      handleSubmit,
      hasError
    };
  }
});
</script>
<style lang="scss" scoped></style>
