<template lang="pug">
section.section
    FormulateForm(:schema="schema" @click-submit="handleSubmit")

</template>
<script lang="ts">
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  setup(props, context) {
    const { $store, $router } = context.root;
    const schema = [
      {
        component: "h1",
        children: "¡Ya casí sos parte de Ciudad U!",
        class: ["title", "is-size-3", "has-text-weight-bold"]
      },
      {
        component: "p",
        children:
          "Vamos a validar tu información y en breve vas poder disfrutar de Ciudad Universitaria.",
        class: ["mb-5"]
      },
      {
        type: "submit",
        label: "Salir",
        "@click": "click-submit"
      }
    ];
    const handleSubmit = () => {
      $store.dispatch("auth/logout", { strategy: "local" });
      $router.push({ path: "/login" });
    };
    return { schema, handleSubmit };
  }
});
</script>
<style lang="scss" scoped></style>
