<template lang="pug">
  section.section
    FormulateForm(:schema="schema")
</template>
<script lang="ts">
import { defineComponent, onMounted } from "@vue/composition-api";
import axios from "axios";
export default defineComponent({
  setup(props, context) {
    const { $router, $route } = context.root;
    const schema = [
      {
        component: "h1",
        children: "¡Ya registraste tu cuenta en Ciudad U!",
        class: ["title", "is-size-3", "has-text-weight-bold"]
      },
      {
        component: "p",
        children:
          "Enviamos un correo para validar tu cuenta y seguir con el registro.",
        class: ["mb-5"]
      }
    ];
    onMounted(async () => {
      const { query } = $route;
      console.log($route.query);
      if (query.token) {
        const response = await axios.post(
          process.env.VUE_APP_API_URL + "/authmanagement",
          {
            action: "verifySignupLong",
            value: query.token
          },
          {
            headers: {
              "Content-Type": "application/json"
            }
          }
        );
        console.log(response);
        if (response.status === 201) {
          $router.push({ path: `/login` });
        }
      }
    });
    return { schema };
  }
});
</script>
<style lang="scss" scoped></style>
