<template lang="pug">
    div
        FormulateForm(v-model="formData" :schema="schema")
        p.label.has-text-grey.has-text-weigh-bold.mt-3 Subir constancia de alumno regular*
        section.input.file-upload-custom.is-relative.mt-3
            b-field
                b-upload(v-model='file' drag-drop='', accept="application/pdf")
                    section.is-fullwidth.is-fullheight
                        .content.is-fullheight.flex-center
                            p(style="margin-left: 1.5rem")
                                | Subir archivo PDF
                                //- b-icon(icon='upload')
        FormulateForm( :schema="submit" @click-submit="handleSubmit")
        p.has-text-danger(v-if="hasError.hasError") {{ hasError.message }}
</template>
<script lang="ts">
import { defineComponent, ref } from "@vue/composition-api";
import { hasError, data } from "./utils";
import schema from "./userThird.json";
import axios from "axios";
import userUtils from "@/assets/scripts/userUtils";
import client from "@/feathers-client";
export default defineComponent({
  setup(props, context) {
    const { $router, $store } = context.root;
    const submit = [
      {
        type: "submit",
        label: "Siguiente",
        "@click": "click-submit"
      }
    ];
    const formData = ref();
    const file = ref();
    const handleSubmit = async () => {
      hasError.value.hasError = false;
      if (!file.value) {
        (hasError.value.hasError = true),
          (hasError.value.message =
            "Debes subir un certificado de alumno regular.");
        return;
      }
      const data = new FormData();
      data.append("uri", file.value);
      await axios.post(
        process.env.VUE_APP_API_URL + "/uploads?type=document",
        data,
        {
          headers: {
            "Content-Type": "multipart/form-data",
            Authorization: "Bearer " + $store.state.auth.accessToken
          }
        }
      );
      // userUtils.patch(formData.value);
      client
        .service("users")
        .patch($store.getters["auth/user"]._id, { ...formData.value });
      $router.push({ path: "/signup/confirm" });
    };
    return {
      formData,
      hasError,
      schema,
      handleSubmit,
      file,
      submit
    };
  }
});
</script>
<style lang="scss">
.upload-draggable {
  border: none !important;
}
.file-upload-custom {
  font-family: $font-secondary;
  label.upload.control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}

.is-fullheight {
  height: 100%;
}
</style>
