<template lang="pug">
  div
    FormulateForm(v-model="formData" :schema="schema" @submit="handleSubmit")
    p.has-text-danger(v-if="hasError.hasError") {{ hasError.message }}
</template>
<script lang="ts">
import { models } from "feathers-vuex";
import { defineComponent } from "@vue/composition-api";
import schema from "./userFirst.json";
import { hasError, data, handleError } from "./utils";
import client from "@/feathers-client";
export default defineComponent({
  setup(props, context) {
    // const { $router, $store, $recaptchaLoaded, $recaptcha } = context.root;
    const { $router, $store } = context.root;
    // const hasError = ref({ hasError: false, message: "" });
    const formData = data("user");
    const handleSubmit = async () => {
      try {
        // await $recaptchaLoaded();

        // // Execute reCAPTCHA with action "login".
        // const token = await $recaptcha("login");

        const user = await client
          .service("users")
          .create({ ...formData.value });
        $store.dispatch("auth/authenticate", {
          strategy: "local",
          email: formData.value.email,
          password: formData.value.password
        });
        $router.push({ path: "/signup/verify" });
      } catch (err) {
        handleError(err);
      }
    };
    return {
      schema,
      formData,
      handleSubmit,
      hasError
    };
  }
});
</script>
<style lang="scss">
// input[type="checkbox"] {
//   display: unset;
//   width: unset;
//   height: unset;
// }
</style>
