<template lang="pug">
    div
        FormulateForm(v-model="formData" :schema="schema" @submit="handleSubmit")
        p.has-text-danger(v-if="hasError.hasError") {{ hasError.message }}
</template>
<script lang="ts">
import { defineComponent, ref } from "@vue/composition-api";
import { hasError, data } from "./utils";
import userUtils from "@/assets/scripts/userUtils";
import schema from "./userSecond.json";
import client from "@/feathers-client";
export default defineComponent({
  setup(props, context) {
    const { $router, $store } = context.root;
    const formData = ref();
    const handleSubmit = async () => {
      // console.log("submit");
      await client
        .service("users")
        .patch($store.getters["auth/user"]._id, { ...formData.value });
      // userUtils.patch(formData.value);
      $router.push({ path: "/signup/user/3" });
    };
    return {
      hasError,
      schema,
      handleSubmit,
      formData
    };
  }
});
</script>
<style lang="scss" scoped></style>
