<template lang="pug">
    section.section
        GoBack(to="/business/benefits")
        article.pb-5.success.has-text-centered
            img(src="@/assets/images/app/confetti.svg")
            h1.title.has-text-danger ¡Felicitaciones!
            p.has-text-weight-bold.px-5 
                | Tu descuento o beneficio ya fue enviado. Pronto estará
                | reflejado en nuestros listados.
            b-button.mt-5(icon-right="arrow-right" type="is-danger" @click="$router.push('/business/benefits')")
                | ir a mis beneficios
        b-message.mt-5(type="is-warning" has-icon icon="alert-outline" icon-size="is-medium")
            | Los descuentos y beneficios se verán reflejados una vez autorizados por Ciudad Universitaria.
</template>
<script lang="ts">
import { defineComponent } from "@vue/composition-api";

export default defineComponent({});
</script>

<style lang="scss" scoped>
.success {
  p {
    max-width: 30rem;
    margin: 0 auto;
  }
}
</style>
