<template lang="pug">
    section.section
        h1.title.is-4 Beneficios
        //- FeathersVuexFind(
        //-     v-slot="{ items: benefits }"
        //-     service="benefits"
        //-     :params="{ query: {} }"
        //-     watch="params")
        .action-bar.container
          XyzTransition(appear mode="out-in" xyz="fade right")
            button.button.is-info.is-outlined.m-3(v-if="!canDelete" @click="addBenefit" key=1) Agregar Descuento / Beneficio
          XyzTransition(appear mode="out-in" xyz="fade right")
            button.button.is-danger.is-outlined.m-3(@click="canDelete = !canDelete" key=2)
              span(v-if="!canDelete") Eliminar Descuento / Beneficio
              span(v-else-if="canDelete") Cancelar Eliminar Descuento / Beneficio
        XyzTransitionGroup.benefits-container(appear mode="out-in" xyz="fade right" tag="div")
            BusinessBenefit(v-for="benefit in filteredBenefits" :benefit="benefit" :canDelete="canDelete" :key="benefit._id" @benefit:removed="filterBenefits")
            
                
</template>

<script lang="ts">
import client from "@/feathers-client";
import BusinessBenefit from "@/components/Benefits/BusinessBenefit.vue";
import { defineComponent, onMounted, ref } from "@vue/composition-api";
import { Benefits } from "@/store/services/benefits";
export default defineComponent({
  components: {
    BusinessBenefit
  },
  setup(props, context) {
    const filteredBenefits = ref();
    const { $store, $router } = context.root;
    const canDelete = ref(false);
    onMounted(async () => {
      const benefits = await client.service("benefits").find({});
      filteredBenefits.value = [...benefits];
    });
    const filterBenefits = (_id: string) => {
      console.log(_id);
      console.log("asda");

      filteredBenefits.value = (filteredBenefits.value as Benefits[]).filter(
        item => item._id !== _id
      );
    };
    const addBenefit = () => {
      $router.push("/business/benefits/create");
    };
    return {
      canDelete,
      addBenefit,
      filterBenefits,
      filteredBenefits
    };
  }
});
</script>

<style lang="scss" scoped>
.action-bar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  @include bp(large-up) {
    flex-direction: row;
  }
  * {
    transition: all 0.15s ease-in-out;
  }
}
.benefits-container {
  display: grid;
  grid-template-columns: minmax(10rem, 30rem);
  justify-content: center;
  @include bp(large-up) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 30rem));
    grid-auto-rows: 1fr;
  }
}
</style>
