<template lang="pug">
section.section
    GoBack
    XyzTransition(appear mode="out-in" xyz="fade right")
        section.action-container(v-if="!actionSelected" key=1)
            div.action
                .img-container
                    img(src="@/assets/images/app/scan.svg")
                button.my-4.button.is-info(@click="actionSelected = 'scan'") Escanear Código
            div.action
                .img-container
                    img(src="@/assets/images/app/alphanumeric.jpg")
                button.my-4.button.is-info(@click="actionSelected = 'write'") Código Alfanumérico
        section.container.is-max-desktop.scan(v-else-if="actionSelected === 'scan'" key=2)
            div
              h1.title.is-4.m-5.has-text-danger {{ error }}
              //- p.decode-result
              //-   | Last result: 
              //-   b {{ result }}
              QrcodeStream(@decode='onDecode' @init='onInit')

        section.container.is-max-desktop.write.has-text-centered(v-else-if="actionSelected === 'write'" key=3)
            h3.subtitle.mb-3.mt-5 Ingrese el Código Alfanumérico*
            FormulateInput(type="text" name="code" v-model.trim="code" validation="required|alphanumeric|max:4,length|min:4,length" validation-behavior="live" @validation="validation = $event" placeholder="1a3f" style="max-width: 20rem; margin: 1rem auto;")
            button.button.is-info(@click="codeCheck") Comprobar
            p.mt-5.has-text-weight-thin Es el mismo es el que se encuentra <br> debajo del código QR del estudiante*
        section.container.is-max-desktopwidescreen.redeem.has-text-centered(v-else-if="actionSelected === 'redeem'" key=4)
            //- pre {{codeData}}
            //- XyzTransition(appear mode="out-in" xyz="fade right")
            .card.has-text-centered.redeem.my-5.p-3(v-if="codeData._id" key=1)
                img(src="@/assets/images/app/confetti.svg")
                h3.title.is-3.has-text-danger Código Verificado
                .card-content
                    p
                        | Beneficio: 
                        span.has-text-weight-bold {{codeData.benefitData.name}}
                    p                            
                        | Otorgado a: 
                        span.has-text-weight-bold {{codeData.userData.name + " " + codeData.userData.lastName}}
                    .card-buttons.mt-3
                        button.button.is-info(@click="codeRedeem") Aceptar
                        button.button.is-danger(@click="cancel") Cancelar
            .card.p-5(v-else-if="codeData.error" key=2)
                h1.title.is-4.has-text-danger No se encontró ningún código coincidente :(
                button.button.is-danger(@click="cancel") Volver

</template>

<script lang="ts">
import { QrcodeStream } from "vue-qrcode-reader";

import client from "@/feathers-client";
import { models } from "feathers-vuex";
import { defineComponent, ref } from "@vue/composition-api";

import { Codes } from "@/store/services/codes";
export default defineComponent({
  components: {
    QrcodeStream
  },
  methods: {
    async onInit(promise: any) {
      try {
        await promise;
      } catch (error) {
        if (error.name === "NotAllowedError") {
          this.error = "ERROR: you need to grant camera access permisson";
        } else if (error.name === "NotFoundError") {
          this.error = "ERROR: no camera on this device";
        } else if (error.name === "NotSupportedError") {
          this.error = "ERROR: secure context required (HTTPS, localhost)";
        } else if (error.name === "NotReadableError") {
          this.error = "ERROR: is the camera already in use?";
        } else if (error.name === "OverconstrainedError") {
          this.error = "ERROR: installed cameras are not suitable";
        } else if (error.name === "StreamApiNotSupportedError") {
          this.error = "ERROR: Stream API is not supported in this browser";
        }
      }
    }
  },
  setup(props, context) {
    // const { $store } = context.root;
    // const { Code } = models.api;
    const result = ref("");
    const error = ref("");
    const actionSelected = ref("");
    const code = ref("");
    const codeData = ref({});
    const validation = ref({ name: "code", errors: [], hasErrors: true });
    // const qid = ref(Math.random());
    // const params = computed(() => {
    //   return {
    //     query: { code: code.value, used: false }
    //   };
    // });

    const cancel = () => {
      actionSelected.value = "";
      code.value = "";
      codeData.value = {};
    };
    const codeCheck = async () => {
      console.log("codechecking");

      if (validation.value.hasErrors) return;
      actionSelected.value = "redeem";
      const codesService = client.service("codes");

      const codes = await codesService.find({
        query: { code: code.value, used: false, $limit: 1 }
      });

      codeData.value =
        codes.length > 0
          ? codes[0]
          : {
              error: "No se encontró ningún código coincidente."
            };
      // const codesData = useFind({
      //   model: Code,
      //   params: params
      // });

      // try {
      //   codeData.value = codesData.items.value[0];
      // } catch {
      //   codeData.value = {
      //     error: "No se encontró ningún código coincidente."
      //   };
      // }
    };
    const codeRedeem = async () => {
      try {
        const { Redeem } = models.api;
        const redeem = new Redeem({ codeId: (codeData.value as Codes)._id });
        await redeem.save();
      } catch (error) {
        console.log(error);
      }
      cancel();
    };
    const onDecode = async (data: string) => {
      result.value = data;
      code.value = data;
      console.log(data);
      validation.value.hasErrors = false;
      await codeCheck();
    };
    return {
      validation,
      actionSelected,
      code,
      codeCheck,
      codeData,
      cancel,
      codeRedeem,
      onDecode,
      error,
      result
    };
  }
});
</script>

<style lang="scss" scoped>
.action-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: 100%;
  @include bp(large-up) {
    grid-template-columns: 1fr 1fr;
  }
}
.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.img-container {
  display: flex;
  align-items: center;
  height: 10rem;
}
</style>
