<template lang="pug">
    section.section
        header.welcome
            ProfilePicture
            h1.title.ml-3.is-4 ¡Hola, {{userName}}!
        hr.mt-1
        .stats-container 
            article.benefits
                h1.title.has-text-danger.is-5 Últimos Beneficios
                .benefits-container
                    BusinessBenefit(v-for="benefit in latestBenefits" :editable="false" :benefit="benefit" :key="benefit._id")
            article.statistics-container
                article(v-if="statisticsData.sum !== 0")
                    h1.title.has-text-danger.is-5 Estadísticas
                    vue-chartist(:data="statisticsData" :options="options", :responsiveOptions="responsiveOptions" type="Pie")
                News





</template>

<script lang="ts">
import client from "@/feathers-client";
import VueChartist from "v-chartist";
import BusinessBenefit from "@/components/Benefits/BusinessBenefit.vue";
import ProfilePicture from "@/components/ProfilePicture.vue";
import News from "@/components/News.vue";
import { defineComponent, onMounted, ref } from "@vue/composition-api";
import { Users } from "@/store/services/users";
import { Benefits } from "@/store/services/benefits";
export default defineComponent({
  components: {
    ProfilePicture,
    News,
    BusinessBenefit,
    "vue-chartist": VueChartist
  },
  setup(props, context) {
    const { $store } = context.root;
    const business: Users = $store.getters["auth/user"];
    const latestBenefits = ref();
    const statisticsData = ref({
      labels: [""],
      series: [0],
      sum: 0
    });
    const userName = business.businessName;
    onMounted(async () => {
      const params: { query: any } = {
        query: {
          $limit: 2,
          $sort: {
            createdAt: -1
          }
        }
      };
      const newestBenefits = await client.service("benefits").find(params);
      latestBenefits.value = [...newestBenefits];
      params.query = {
        $sort: {
          uses: 1
        }
      };
      const allBenefits = await client.service("benefits").find(params);
      statisticsData.value.labels = (allBenefits as Benefits[]).map(
        b => b.name
      );
      statisticsData.value.series = (allBenefits as Benefits[]).map(
        b => b.uses
      );
      statisticsData.value.sum = (allBenefits as Benefits[]).reduce(
        (acc, b) => b.uses + acc,
        0
      );
    });
    const options = {
      labelInterpolationFnc: function(value: number[]) {
        return value[0];
      }
    };

    const responsiveOptions = [
      [
        "screen and (min-width: 320px)",
        {
          chartPadding: 30,
          labelOffset: 100,
          labelDirection: "explode",
          labelInterpolationFnc: function(value: number) {
            return value;
          }
        }
      ],
      [
        "screen and (min-width: 1024px)",
        {
          labelOffset: 80,
          chartPadding: 20
        }
      ]
    ];
    return {
      userName,
      latestBenefits,
      statisticsData,
      options,
      responsiveOptions
    };
  }
});
</script>

<style lang="scss" scoped>
.welcome {
  display: flex;
  align-items: center;
}
.stats-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  @include bp(large-up) {
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
  }
}
.statistics-container {
  @include bp(large-up) {
    padding-left: 3rem;
    border-left: solid 1px #00000022;
  }
}
.benefits-container {
  display: grid;
  grid-template-columns: minmax(10rem, 30rem);
  justify-content: center;
  @include bp(large-up) {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 25rem));
  }
}
</style>
