<template lang="pug">
    Layout
        template(#header)
            router-link(to="/business") Inicio
            router-link(to="/business/benefits") Beneficios
            router-link(to="/business/codes") Mis Códigos
        template(#personal)
          router-link(to="/business/profile") Mi Perfil
          router-link(to="/business/contact") Contacto
        XyzTransition(appear mode="out-in" xyz="fade right")
            router-view
</template>

<script lang="ts">
import Layout from "@/components/Layout.vue";

import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  components: {
    Layout
  }
});
</script>

<style lang="scss" scoped></style>
