<template lang="pug">
    section.section
        FormulateForm(v-model="formData" :schema="schema" @click-submit="submit" @click-reset="reset")
</template>

<script lang="ts">
import Layout from "@/components/Layout.vue";
import { Users } from "@/store/services/users";
import { defineComponent, onMounted, ref } from "@vue/composition-api";
import axios from "axios";
import client from "@/feathers-client";
export default defineComponent({
  components: {
    Layout
  },
  setup(prop, context) {
    const { $store } = context.root;
    const user: Users = $store.getters["auth/user"];
    const emptyData = {
      name: user.name + " " + user.lastName,
      email: user.email,
      subject: "",
      message: ""
    };
    const formData = ref(emptyData);
    const businesess = ref();
    onMounted(async () => {
      if (user.rol === "user") {
        businesess.value = ((await client.service("users").find({
          query: { rol: "business", isConfirmed: true, isVerified: true }
        })) as Users[]).map(b => b.businessName);
      }
    });
    const schema = ref([
      {
        component: "div",
        class: ["columns"],
        children: [
          {
            label: "Nombre y Apellido*",
            type: "text",
            name: "name",
            validation: "required",
            class: "column"
          },
          {
            label: "Email*",
            type: "email",
            name: "email",
            validation: "required|email",
            class: "column"
          },
          {
            label: "Motivo del mensaje*",
            type: "select",
            name: "subject",
            options: ["Denuncia", "Reclamo", "Sugerencia"],
            validation: "required",
            class: "column"
          }
        ]
      },
      // {
      //   component: "div",
      //   class: ["columns"],
      //   children: [
      //     {
      //       label: "Comercio*",
      //       type: "select",
      //       options: businesess.value,
      //       name: "name",
      //       validation: "required",
      //       class: "column",
      //       enabled: formData.value.subject === "Denuncia"
      //     },
      //     {
      //       label: "Fecha del suceso*",
      //       type: "date",
      //       name: "name",
      //       validation: "required",
      //       style: "width: 100%;",
      //       class: ["column"],
      //       enabled: formData.value.subject === "Denuncia"
      //     }
      //   ]
      // },
      {
        label: "Comentario*",
        type: "textarea",
        name: "message",
        style: "width: 100%;",
        validation: "required"
      },
      {
        component: "div",
        class: ["columns", "is-mobile"],
        children: [
          {
            type: "submit",
            label: "Enviar",
            class: "column"
          },
          {
            type: "button",
            label: "borrar",
            class: "column",
            "@click": "click-reset"
          }
        ]
      }
    ]);

    const submit = () => {
      console.log("holi");
      axios.post(
        process.env.VUE_APP_CONTACT_FORM ?? "",
        { ...formData.value },
        {
          headers: {
            "Content-Type": "application/json"
          }
        }
      );
    };
    const reset = () => {
      formData.value = emptyData;
    };
    return {
      schema,
      formData,
      submit,
      reset,
      businesess
    };
  }
});
</script>

<style lang="scss" scoped></style>
