<template lang="pug">
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import Layout from "@/components/Layout.vue";
export default defineComponent({
  components: {
    Layout
  }
});
</script>
