<template lang="pug">
    Layout
      XyzTransition(appear mode="out-in" xyz="fade right")
        router-view
</template>
<script lang="ts">
import Layout from "@/components/Login/LoginLayout.vue";
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  components: {
    Layout
  }
});
</script>
<style lang="scss"></style>
