<template lang="pug">
//- FeathersVuexGet(
//- v-slot="{ item: user }" 
//- service="users" 
//- :id='benefit.business_id' 
//- :params='{}'
//- )   
    article.card
        footer
            .card-image
                figure.image.is4-by3
                    f-img(:image="benefit.picture")
            .card-content.is-size-6.has-text-weight-bold.has-text-centered
                | {{ user.rol }}
article.card
        .card-image.is-relative
            span.tag.is-danger.card-tag {{benefit.percentage || 0 + "%"}}
            figure.image.is-2by1
                f-img(:image="benefit.picture")
        .card-content.is-size-6.has-text-weight-bold.has-text-centered
            | {{ benefit.business.businessName }}
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import Image from "@/components/FImage.vue";
export default defineComponent({
  props: {
    benefit: {
      type: Object,
      required: true
    }
  },
  components: {
    "f-img": Image
  },
  setup(props, context) {
    return {};
  }
});
</script>
<style lang="scss" scoped>
.card {
  max-width: 30rem;
  position: relative;
  margin: 0 0.5rem;
  &-image {
    position: relative;
  }
  &-tag {
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 1000;
  }
}
</style>
