<template lang="pug">
        article.card.is-relative.code
            aside.code__left
                //- img(src="@/assets/images/login/ciudadu.svg")
                vue-qr(:text='code.code' :callback='populateLink' qid='code._id' :margin="10")
                span {{code.code}}
            aside.code__right
                main
                    header.code__title
                        h1.title.is-6.mb-0.has-text-weight-bold.mr-3 
                          | {{code.benefitData.name}}
                        a.code-download(:href="dataURI" alt="QR Code" download="code.code.png")
                            img(src="@/assets/images/download.svg" alt="download" width="12px")

                    hr
                    p.is-size-6 {{code.benefitData.description}}
                    p Vencimiento {{expiration}}

        
</template>

<script lang="ts">
import { defineComponent, ref } from "@vue/composition-api";
import VueQr from "vue-qr";
export default defineComponent({
  components: { VueQr },
  props: {
    code: {
      type: Object,
      required: true
    }
  },
  setup(props, context) {
    const dataURI = ref("");
    const populateLink = (data: string) => (dataURI.value = data);
    const createdAt = new Date(props.code.createdAt as Date);
    const expiration =
      createdAt.getDay() +
      2 +
      "/" +
      createdAt.getMonth() +
      "/" +
      createdAt.getFullYear();
    return { populateLink, dataURI, expiration };
  }
});
</script>

<style lang="scss" scoped>
$padding: 1rem;
.grid-2-rows {
  display: grid;
  grid-template-rows: auto 1rem;
  justify-items: center;
  align-items: center;
  padding: $padding;
}

.code {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  &__left {
    @extend .grid-2-rows;
    img {
      // max-width: 8rem;
    }
  }
  &__right {
    @extend .grid-2-rows;
    align-items: unset;
    main {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      :last-child {
        margin-top: auto;
      }
    }
  }
  &-download {
    // position: absolute;
    // right: -0.5rem;
    // top: -1rem;
    // padding: 1rem;
    margin-left: auto;
  }
}
hr {
  margin: 0.3rem 0 1rem;
  width: 100%;
  height: 1.5px;
  background-color: #efefef;
}
.code__title {
  display: flex;
}
</style>
