<template lang="pug">
    img(:src="url" alt="A picture")
</template>
<script lang="ts">
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  props: {
    image: {
      type: String,
      default: "/public/uploads/pictures/default.jpg"
    }
  },
  setup(props, context) {
    const url =
      (process.env.VUE_APP_FILES_URL ?? "") + "/public/uploads" + props.image;
    return { url };
  }
});
</script>

<style lang="scss" scoped>
img {
  object-fit: cover;
}
</style>
