<template lang="pug">
span.is-clickable.go-back.has-text-grey.is-relative(@click="navigate") 
    b-icon(icon="chevron-left")
    | Volver
</template>
<script lang="ts">
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  props: {
    to: {
      type: String
    }
  },
  setup(props, context) {
    const { $router, $store } = context.root;
    const user = $store.getters["auth/user"];
    const navigate = () => {
      if (user.isConfirmed && user.isVerified) {
        $router.push("/");
      } else {
        if (!props.to) {
          $router.go(-1);
        } else {
          $router.push(props.to);
        }
      }
    };
    return {
      navigate
    };
  }
});
</script>
<style scoped>
.go-back {
  display: flex;
  align-items: center;
}
</style>
