<template lang="pug">
    section.layout
        .layout__header-container
            header.layout__header.is-hidden-touch
                router-link(to="/home")
                  img(src="@/assets/images/login/ciudadu.svg", alt="ciudadu logo", width="40px", height="40px")
                slot.layout__links(name="header")
                b-dropdown(aria-role='list' :position="'is-bottom-left'")
                  template(#trigger)
                    img.is-justify-self-flex-end(src="@/assets/images/settings.svg", alt="ciudadu logo", width="20px", height="20px")
                  b-dropdown-item(aria-role='listitem')
                    slot(name="personal")
                  b-dropdown-item.is-clickable(aria-role='listitem' @click="logout") Cerrar Sesión
            
            header.layout__header.layout__header--mobile.is-hidden-desktop
                router-link(to="/home")
                  img(src="@/assets/images/login/ciudadu.svg", alt="ciudadu logo", width="60px", height="60px")
                nav
                    span.is-clickable(@click="showProfileMenu = !showProfileMenu; showMenu = false;")
                      ProfilePicture
                    img.is-clickable.is-justify-self-flex-end(src="@/assets/images/menu.svg", alt="ciudadu logo", width="30px", height="30px" @click="showMenu = !showMenu;  showProfileMenu = false;")

            XyzTransition(appear xyz="fade left wide-100%")
              nav.layout__nav-menu(v-if="showMenu" @click="showMenu = !showMenu; showProfileMenu = false;")
                    slot.layout__links(name="header")

            XyzTransition(appear xyz="fade left wide-100%")
              nav.layout__nav-menu(v-if="showProfileMenu" @click="showProfileMenu = !showProfileMenu; showMenu = false;")
                  slot(name="personal")
                  span.has-text-grey(@click="logout") Cerrar Sesión
            .toggle-overlay(v-if="showMenu || showProfileMenu" @click="showMenu = false; showProfileMenu = false;")
          
        slot
        footer.layout__footer
            img(src="@/assets/images/login/logo.svg", alt="ciudadu logo")
            nav.layout__footer-nav
                a(href="")
                    img(src="@/assets/images/app/facebook.svg", alt="ciudadu logo", width="20px", height="20px")
                a(href="")
                    img(src="@/assets/images/app/twitter.svg", alt="ciudadu logo", width="20px", height="20px")
                a(href="")
                    img(src="@/assets/images/app/instagram.svg", alt="ciudadu logo", width="20px", height="20px")
                a(href="")
                    img(src="@/assets/images/app/mail.svg", alt="ciudadu logo", width="20px", height="20px")
            p.is-hidden-touch
              | Copyright 2020 / Ciudad de mendoza

</template>

<script lang="ts">
import { defineComponent, ref } from "@vue/composition-api";
import ProfilePicture from "./ProfilePicture.vue";
export default defineComponent({
  components: {
    ProfilePicture
  },
  setup(props, context) {
    const { $store, $router } = context.root;
    const showMenu = ref(false);
    const showProfileMenu = ref(false);

    const logout = () => {
      $store.dispatch("auth/logout", { strategy: "local" });
      $router.push("/login");
    };

    return { showMenu, showProfileMenu, logout };
  }
});
</script>
<style lang="scss">
.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__nav-menu {
    z-index: 3;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: $white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    * {
      padding: 1rem;
    }
  }
  &__header {
    height: 4.5rem;
    display: flex;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    &-container {
      position: relative;
      top: 0;
      width: 100%;
      z-index: 10000;
    }
    &-container--extended {
      transition: margin 0.125s ease-in-out;
      margin-bottom: 10rem;
    }
    &--mobile {
      nav {
        display: flex;
        justify-content: center;
        align-items: center;
        * {
          margin-left: 1rem;
        }
      }
    }
  }
  > section {
    flex: 1;
  }
  &__links {
    // flex-grow: 1;
  }
  &__footer {
    padding: 1rem 1.5rem;
    background-color: black;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    &-nav {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      @include bp(large-up) {
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
    @include bp(large-up) {
      grid-template-columns: 1fr 1.5fr 1fr;
    }
  }
}
.toggle-overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}
</style>
