<template lang="pug">
.news-container
    h2.title.mt-3.mb-0.py-3.is-6.has-text-danger.has-text-weight-bold.is-relative
            |  Novedades
    article.card.p-3.mt-2.home-card
        aside
          Progress(:strokeColor="'#ed4b7c'" :value='100', :radius="28")
              span.has-text-danger {{ latestNews.date }}
        aside.home-card-content
          b {{latestNews.Titulo}}
          br
          | {{latestNews.excerpt}}
          br
          a.mt-3.tag.is-info(:href="latestNews.link" target="_blank") ver mas...
</template>
<script lang="ts">
import { defineComponent, onMounted, ref } from "@vue/composition-api";
import Progress from "easy-circular-progress";
import axios from "axios";
export default defineComponent({
  components: {
    Progress
  },
  setup(pros, context) {
    const latestNews = ref({
      date: 1,
      link: "#",
      excerpt: "Cargando Novedades..."
    });
    onMounted(async () => {
      const response = await axios.get(
        process.env.VUE_APP_STRAPI_URL + "/noticias?_limit=1"
      );
      const data = response.data[0];
      data.date = new Date(data.createdAt).getDate();
      data.link = process.env.VUE_APP_WEBSITE_URL + "/novedades/" + data.url;
      data.excerpt = data.Bajada.substring(2, 40) + "...";
      latestNews.value = { ...data };
    });
    return { latestNews };
  }
});
</script>
<style lang="scss" scoped>
.home-card {
  display: grid;
  grid-template-columns: 5rem auto;
  align-items: center;
  justify-items: center;
}
.greetings {
  display: flex;
  align-items: center;
}
.home {
  display: grid;
  grid-template-columns: 1fr;
  @include bp(large-up) {
    grid-template-columns: 1fr 1fr;
  }
}
</style>
