<template lang="pug">
    img(:src="url" loading="lazy", width="40px", height="40px" v-if="show")
</template>
<script lang="ts">
import { Users } from "@/store/services/users";
import { defineComponent, ref } from "@vue/composition-api";
export default defineComponent({
  setup(props, context) {
    const { $store } = context.root;
    const user: Users = $store.getters["auth/user"];
    // const picture = process.env.VUE_APP_FILES_URL + "/pictures/default.jpg";
    const picture =
      (process.env.VUE_APP_FILES_URL ?? "") +
      "/public/uploads/" +
      user.profilePicture;
    // const picture = user.profilePicture ?? "/pictures/default.jpg";
    const show = ["user", "business"].includes(user.rol);
    const url = ref(picture);
    return { url, show };
  }
});
</script>

<style lang="scss" scoped>
img {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}
</style>
