<template lang="pug">
    section.section
        GoBack
        section.forms-container
          section.photo-upload.p-5.mb-3.flex-center
            img.m-5(v-if="image" :src="image")
            b-field.m-3.mt-5.file.is-info(:class="{'has-name': !!file}")
              b-upload.file-label(v-model='file' @input="onFileUpload")
                span.file-cta
                  b-icon.file-icon(icon='upload')
                  span.file-label Subir Fotografía
                span.file-name(v-if='file')
                  | {{ file.name }}

          FormulateForm(:schema="schema" v-model="formData" @submit="onSubmit" @click-delete="onDelete", @taginput="handleTagInput")

</template>
<script lang="ts">
import formSchema from "./BenefitAddForm";
import client from "@/feathers-client";
import { defineComponent, Ref, ref, unref } from "@vue/composition-api";
import { Benefits } from "@/store/services/benefits";
import axios from "axios";

export default defineComponent({
  setup(props, context) {
    const { $route, $router, $store, $buefy } = context.root;
    const formData: Ref<Partial<Benefits>> = ref({});
    const id = $route.params.id;
    const benefit: Ref<Partial<Benefits>> = ref({});
    const schema = ref(formSchema({}));
    const image = ref();

    const file = ref();
    const onFileUpload = () => {
      const reader = new FileReader();
      reader.addEventListener("load", () => {
        image.value = reader.result;
      });
      reader.readAsDataURL(file.value);
    };
    const uploadImage = async () => {
      const data = new FormData();
      data.append("uri", file.value);
      await axios.post(
        process.env.VUE_APP_API_URL +
          "/uploads?type=benefit&benefit=" +
          benefit.value._id,
        data,
        {
          headers: {
            "Content-Type": "multipart/form-data",
            Authorization: "Bearer " + $store.state.auth.accessToken
          }
        }
      );
    };
    const onSubmit = async () => {
      try {
        benefit.value = await client.service("benefits").create({
          ...unref(formData),
          business: id,
          /* eslint-disable @typescript-eslint/camelcase */
          business_id: id
        });
        console.log(JSON.stringify(benefit.value));

        if (file.value) {
          await uploadImage();
        }
        $buefy.toast.open({
          message: `¡Beneficio ${id ? "actualizado" : "creado"} Correctamente!`,
          type: "is-info"
        });
        $router.push("/admin/benefits/success");
      } catch (error) {
        $buefy.toast.open({
          message: "¡Algo Salió Mal!",
          type: "is-danger"
        });
      }
    };
    const onDelete = () => {
      formData.value = {};
    };
    const handleTagInput = (event: string[]) => {
      formData.value.validDays = event;
    };
    return {
      id,
      formData,
      schema,
      benefit,
      onSubmit,
      onDelete,
      file,
      image,
      onFileUpload,
      handleTagInput
    };
  }
});
</script>
<style lang="scss" scoped>
.photo-upload {
  flex-direction: column;
}
.forms-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  @include bp(large-up) {
    grid-template-columns: 1fr 1fr;
  }
}
</style>
