<template lang="pug">
section.section
    h1.title Beneficios
    b-field.searchable-table
      b-select(placeholder="Nombre del Negocio..." v-model="name")
        option(v-for="option in options" :value="option._id" :key="option._id")
          | {{option.businessName}}
      p.control
        b-button(type="is-info" label="Añadir Beneficio" @click="addBenefit")
    b-table.searchable-table(:data="data" paginated per-page="10" striped detailed detail-key="_id")
        b-table-column(field="business.businessName" label="Comercio" searchable)
          template(v-slot="props" centered)
              span {{props.row.business.businessName}}
          template(#searchable="props")
              b-input(
                  v-model="props.filters[props.column.field]"
                  placeholder="..."
                  icon="magnify"
                  size="is-normal"
                  style="padding: unset;"
                  )
        b-table-column(field="category" label="Tipo de descuento" searchable)
          template(v-slot="props" centered)
              span {{props.row.category}}
          template(#searchable="props")
              b-input(
                  v-model="props.filters[props.column.field]"
                  placeholder="..."
                  icon="magnify"
                  size="is-normal"
                  style="padding: unset;"
                  )
        b-table-column(field="name" label="Nombre del descuento" searchable numeric)
          template(v-slot="props" centered)
            span {{props.row.name}}
          template(#searchable="props")
              b-input(
                  v-model="props.filters[props.column.field]"
                  placeholder="..."
                  icon="magnify"
                  size="is-normal"
                  style="padding: unset;"
                  )
        b-table-column(field="validated" label="Estado" centered searchable)
          template(v-slot="props" centered)
            span.tag {{props.row.validated}}
          template(#searchable="props")
              b-input(
                  v-model="props.filters[props.column.field]"
                  placeholder="..."
                  icon="magnify"
                  size="is-normal"
                  style="padding: unset;"
                  )
        b-table-column(field="actions" label="Aceptar/Rechazar" centered)
          template(v-slot="props")
            //- .columns.is-mobile.p-2
            b-dropdown(:mobile-modal="true" position="is-bottom-left")
              template(#trigger="{ active }")
                b-button(
                    label="Acciones"
                    type="is-info"
                    :icon-right="active ? 'menu-up' : 'menu-down'"
                    )
              b-dropdown-item.has-text-success(@click="acceptBenefit(props.row._id)") Aceptar
                //- button.column.button.is-success.action-button(@click="acceptBenefit(props.row._id)") Aceptar
              b-dropdown-item.has-text-warning(@click="rejectBenefit(props.row._id)") Rechazar
                //- button.column.button.is-warning.action-button(@click="rejectBenefit(props.row._id)") Rechazar          
              b-dropdown-item.has-text-danger(@click="deleteBenefit(props.row._id)") Eliminar
                //- button.column.button.is-danger.action-button(@click="deleteBenefit(props.row._id)") Eliminar          
              b-dropdown-item.has-text-info(@click="editBenefit(props.row._id)") Editar          
                //- button.column.button.is-info.action-button(@click="efitBenefit(props.row._id)") Editar          
        template(#detail='props')
          article.media
            figure.media-left
              p.image.is-64x64
                f-img(:image='props.row.picture')
            .media-content
              .content
                p
                  strong {{ props.row.name }}
                  br
                  small categoría: {{ props.row.category }}
                  br
                  small tipo: {{ props.row.type }}
                  br
                  small usos: {{ props.row.uses }}
                  br
                  small validado: {{ props.row.validated }}

</template>

<script lang="ts">
import client from "@/feathers-client";
import benefitsColumns from "./benefitsColumns";
import {
  computed,
  defineComponent,
  onMounted,
  Ref,
  ref
} from "@vue/composition-api";
import { Benefits } from "@/store/services/benefits";
import TagInputVue from "@/components/Benefits/TagInput.vue";
import { Users } from "@/store/services/users";
import router from "@/router";
const fetchbenefits = async (filters: any) => {
  const params = {
    query: {
      ...filters
    }
  };
  return await client.service("benefits").find(params);
};

export default defineComponent({
  setup(props, context) {
    const { $router, $buefy } = context.root;
    const data = ref();
    const columns = ref(benefitsColumns);
    const filters = ref();
    const name = ref("");
    const options = ref();
    data.value = [{ business: { businessName: "Negocio" } }];
    options.value = ["Negocio"];
    onMounted(async () => {
      data.value = await fetchbenefits(filters.value ?? {});
      options.value = await client
        .service("users")
        .find({ query: { rol: "business", $select: ["businessName"] } });
    });

    const updateData = (user: Benefits) => {
      data.value = data.value.map((item: Benefits) => {
        if (item._id === user._id) {
          item = { ...user };
        }
        return item;
      });
    };

    const acceptBenefitAction = async (_id: string) => {
      const user: Benefits = await client
        .service("benefits")
        .patch(_id, { validated: "yes" });
      updateData(user);
      return;
    };
    const rejectBenefitAction = async (_id: string) => {
      const user: Benefits = await client
        .service("benefits")
        .patch(_id, { validated: "denied" });
      updateData(user);
      return;
    };
    const deleteBenefitAction = async (_id: string) => {
      const user: Benefits = await client.service("benefits").remove(_id);
      // updateData(user);
      data.value = (data.value as Benefits[]).filter(
        item => item._id !== user._id
      );
      return;
    };
    const addBenefit = () => {
      router.push("/admin/benefits/add/" + name.value);
    };
    const editBenefit = (_id: string) => {
      router.push("/admin/benefits/edit/" + _id);
    };

    const acceptBenefit = (_id: string) => {
      $buefy.dialog.confirm({
        title: "Aceptando Beneficio",
        message: "Está seguro de <b>aceptar</b> este beneficio?",
        confirmText: "Aceptar Beneficio",
        type: "is-success",
        hasIcon: true,
        onConfirm: () => {
          acceptBenefitAction(_id);
          $buefy.toast.open("Beneficio Aceptado");
        }
      });
    };
    const rejectBenefit = (_id: string) => {
      $buefy.dialog.confirm({
        title: "Borrando Beneficio",
        message: "Está seguro de <b>rechazar</b> este beneficio?",
        confirmText: "Rechazar Beneficio",
        type: "is-warning",
        hasIcon: true,
        onConfirm: () => {
          rejectBenefitAction(_id);
          $buefy.toast.open("Beneficio Rechazado");
        }
      });
    };
    const deleteBenefit = (_id: string) => {
      $buefy.dialog.confirm({
        title: "Borrando Beneficio",
        message: "Está seguro de <b>borrar</b> este beneficio?",
        confirmText: "Borrar Beneficio",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => {
          deleteBenefitAction(_id);
          $buefy.toast.open("Beneficio Borrado");
        }
      });
    };

    return {
      data,
      columns,
      acceptBenefit,
      rejectBenefit,
      deleteBenefit,
      addBenefit,
      editBenefit,
      name,
      options
    };
  }
});
</script>

<style lang="scss" scoped>
.action-button {
  margin: 0.25rem auto !important;
}
</style>
