<template lang="pug">
    Layout
        template(#header)
            router-link(to="/admin") Inicio
            router-link(v-if="isUserAdmin" to="/admin/users") Usuarios
            router-link(v-if="isBusinessAdmin" to="/admin/benefits") Beneficios
            router-link(v-if="isBusinessAdmin" to="/admin/notifications") Notificaciones
            a.router-link(@click="logout") Cerrar Sesión
        XyzTransition(appear mode="out-in" xyz="fade right")
            router-view
</template>

<script lang="ts">
import Layout from "@/components/Layout.vue";
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  components: {
    Layout
  },
  setup(props, context) {
    const { $store, $router } = context.root;
    const admin = $store.getters["auth/user"];
    const isUserAdmin = admin.rol === "user-admin";
    const isBusinessAdmin = admin.rol === "business-admin";
    const logout = () => {
      $store.dispatch("auth/logout", { strategy: "local" });
      $router.push("/login");
    };
    return {
      isUserAdmin,
      isBusinessAdmin,
      logout
    };
  }
});
</script>

<style lang="scss" scoped></style>
