<template lang="pug">
section.section
    h1.title Notificaciones
    b-table(
        :data="data" 
        :columns="columns"
        paginated
        per-page="5"
        detailed
        )
        template(#detail='props')
            article.media
                .content
                    p
                        strong Información:
                        pre {{ props.row.deletedData ? JSON.stringify(JSON.parse(props.row.deletedData), null, 2) : "Nada para mostrar" }}
</template>

<script lang="ts">
// @ts-nocheck
import client from "@/feathers-client";
import { defineComponent, onMounted, Ref, ref } from "@vue/composition-api";
interface BenefitNotification {
  _id?: string;
  benefitId: string;
  operation: "create" | "update" | "patch" | "remove" | string;
  deletedData?: string;
  createdAt: string;
  date?: string;
}
export default defineComponent({
  setup(props, context) {
    const data: Ref<Partial<BenefitNotification[]>> = ref([]);
    const columns = [
      {
        field: "operation",
        label: "Operación"
      },
      {
        field: "benefit.name",
        label: "Beneficio"
      },
      {
        field: "benefit.business.businessName",
        label: "Negocio"
      },
      {
        field: "date",
        label: "Fecha"
      }
    ];

    const prettyDate = (date: Date): string => {
      return (
        date.getFullYear() +
        "-" +
        (date.getMonth() + 1) +
        "-" +
        date.getDate() +
        " " +
        date.getHours() +
        ":" +
        date.getMinutes() +
        ":" +
        date.getSeconds()
      );
    };

    onMounted(async () => {
      data.value = await client.service("benefits-management").find({
        query: {
          $sort: {
            createdAt: -1
          }
        }
      });
      data.value = data.value.map(notification => {
        const date = new Date(notification.createdAt);
        notification.date = prettyDate(date);
        return notification;
      });
    });
    return {
      data,
      columns
    };
  }
});
</script>

<style lang="scss" scoped></style>
