<template lang="pug">
section.section
    h1.title estadísticas
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
export default defineComponent({});
</script>

<style lang="scss" scoped></style>
