<template lang="pug">
section.section
    h1.title Usuarios
    b-table.searchable-table(:data="data" paginated per-page="10")
        b-table-column(field="user.name" label="Nombre" searchable)
          template(v-slot="props" centered)
              span {{props.row.name ? props.row.name : props.row.businessName}}
          template(#searchable="props")
              b-input(
                  v-model="props.filters[props.column.field]"
                  placeholder="..."
                  icon="magnify"
                  size="is-normal"
                  style="padding: unset;"
                  )
        b-table-column(field="user.rol" label="Tipo de Usuario" searchable)
          template(v-slot="props" centered)
            span {{props.row.rol}}
          template(#searchable="props")
              b-input(
                  v-model="props.filters[props.column.field]"
                  placeholder="..."
                  icon="magnify"
                  size="is-normal"
                  style="padding: unset;"
                  )
        b-table-column(field="user.dni" label="DNI" searchable numeric)
          template(v-slot="props" centered)
            span {{props.row.dni ? props.row.dni : '-'}}
          template(#searchable="props")
              b-input(
                  v-model="props.filters[props.column.field]"
                  placeholder="..."
                  icon="magnify"
                  size="is-normal"
                  style="padding: unset;"
                  )
        b-table-column(field="user.isConfirmed" label="Activado" centered)
          template(v-slot="props" centered)
            span.tag.is-success(v-if="props.row.isConfirmed") Activado
            span.tag.is-danger(v-else="props.row.isConfirmed") Desactivado
        b-table-column(field="user.certificate" label="Pdf" centered)
          template(v-slot="props" centered)
            button.button.is-info(v-if="props.row.rol=== 'user'" @click="downloadPDF(props.row.certificate)") PDF
            p(v-else) -
        b-table-column(field="user.isConfirmed" label="Activar/Desactivar" centered)
          template(v-slot="props")
            button.button.is-danger(v-if="props.row.isConfirmed" @click="deactivateUser(props.row._id)") Desactivar
            button.button.is-success(v-else="props.row.isConfirmed" @click="activateUser(props.row._id)") Activar          
</template>

<script lang="ts">
import client from "@/feathers-client";
import userColumns from "./usersColumns";
import { defineComponent, onMounted, Ref, ref } from "@vue/composition-api";
import { Users } from "@/store/services/users";
const fetchUsers = async (filters: any) => {
  const params = {
    query: {
      isVerified: true,
      ...filters
    }
  };
  return await client.service("users").find(params);
};

export default defineComponent({
  setup(props, context) {
    const { $store } = context.root;
    const data = ref();
    const columns = ref(userColumns);
    const filters = ref();

    onMounted(async () => {
      data.value = await fetchUsers(filters.value ?? {});
    });

    const downloadPDF = (url: string) => {
      // const headers = {
      //   Accept: "application/json",
      //   "Content-Type": "application/json",
      //   // mode: "no-cors",
      //   Connection: "keep-alive",
      //   Authorization: "Bearer " + $store.state.auth.accessToken
      // };
      // fetch(process.env.VUE_APP_FILES_URL + url, { headers })
      //   .then(response => response.blob())
      //   .then(blob => URL.createObjectURL(blob))
      //   .then(uril => {
      //     const link = document.createElement("a");
      //     link.href = uril;
      //     link.href = process.env.VUE_APP_FILES_URL + url;
      //     link.download = "certificado.pdf";
      //     document.body.appendChild(link);
      //     link.click();
      //     document.body.removeChild(link);
      //   });
      const link = document.createElement("a");
      link.href = process.env.VUE_APP_FILES_URL + url;
      console.log(link.href);
      link.target = "_blank";
      link.download = "certificado.pdf";
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    };

    const updateData = (user: Users) => {
      data.value = data.value.map((item: Users) => {
        if (item._id === user._id) {
          item = { ...user };
        }
        return item;
      });
    };

    const activateUser = async (_id: string) => {
      const user: Users = await client
        .service("users")
        .patch(_id, { isConfirmed: true });
      updateData(user);
      return;
    };
    const deactivateUser = async (_id: string) => {
      const user: Users = await client
        .service("users")
        .patch(_id, { isConfirmed: false });
      updateData(user);
      return;
    };
    return {
      data,
      columns,
      activateUser,
      deactivateUser,
      downloadPDF
    };
  }
});
</script>

<style lang="scss" scoped></style>
