<template lang="pug">
    section
        header.banner(:style="style")
            //- f-img(:image="$route.params.picture")
            h3.banner__text.title.has-text-black.has-text-weight-bold.is-4.banner__tag.is-capitalized {{$route.params.category}}
        
        section.section.container
            GoBack
            article.disclaimer.has-background-warning-light.mb-3
                b-icon.disclaimer__icon(icon="alert-outline" type="is-warning")
                p.ml-3.has-text-warning.is-size-7
                    | Los beneficios están sujetos a cambios 
                    | sin previo aviso. Los descuentos no son 
                    | aplicables con otras promociones.
            FeathersVuexFind(v-slot='{ items: benefits }' service='benefits' :params='params' watch='params')
                section.benefits-list(v-if="benefits.length > 0")
                    carousel(:autoplayTimeout="3000" 
                    :autoplay="true" 
                    :loop="true" 
                    :scrollPerPage="true" 
                    :perPageCustom="[[320, 1] ,[480, 2], [768, 3], [1280, 4], [1660, 5]]" 
                    :paginationPadding="2" 
                    paginationActiveColor="#ed4b7c")               
                        slide(v-for="benefit in benefits")
                            BenefitCard(:benefit="benefit" :key="benefit._id")
                section.p-5(v-else-if="benefits.length === 0")
                    h3.title.is-4.has-text-danger.has-text-centered No se encontraron resultados :(


</template>
<script lang="ts">
// @ts-nocheck
import FImage from "@/components/FImage.vue";
import BenefitCard from "@/components/Benefits/BenefitCard.vue";
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  components: {
    "f-img": FImage,
    BenefitCard
  },
  setup(props, context) {
    const { $route } = context.root;
    const style = {
      backgroundImage:
        "url(" +
        // (process.env.VUE_APP_FILES_URL ?? "") +
        $route.params.banner +
        ")",
      "--tag-color": $route.params.color
    };
    // const params = $route.params.params ?? { query: {} };
    const params: any = {
      query: {
        validated: "yes"
      }
    };
    /* eslint-disable @typescript-eslint/camelcase */
    if ($route.params.business_id) {
      params.query.business_id = $route.params.business_id;
    } else if ($route.params.category) {
      params.query.category = $route.params.category;
    }

    return { style, params };
  }
});
</script>
<style lang="scss" scoped>
.disclaimer {
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-items: flex-start;
  padding: 1rem 1.5rem;
  border: solid 1px $warning;
  &__icon {
    align-self: center;
  }
}
.banner {
  height: 10rem;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: -1.5rem;
  &__text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 1rem 1.5rem;
    max-width: 50%;
    background-color: var(--tag-color);
  }
}
</style>
