<template lang="pug">
    section.section 
        GoBack.mb-3
        b-field.searchable-table
          b-select(placeholder="Nombre del Negocio..." v-model="name")
            option(v-for="option in options" :value="option._id" :key="option._id")
              | {{option.businessName}}
          p.control
            b-button(type="is-info" label="Buscar Beneficio" @click="filterByBusiness")
        BenefitList

</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/camelcase */
import { defineComponent, onMounted, Ref, ref } from "@vue/composition-api";
import BenefitList from "@/components/Benefits/BenefitList.vue";
import client from "@/feathers-client";
import { Users } from "@/store/services/users";

export default defineComponent({
  components: {
    BenefitList
  },
  setup(props, context) {
    const { $router } = context.root;
    const options: Ref<Users[]> = ref([]);
    const name = ref("Negocio");
    onMounted(async () => {
      options.value = await client
        .service("users")
        .find({ query: { rol: "business" } });
    });
    const filterByBusiness = async () => {
      const business = await client.service("users").get(name.value);
      $router.push({
        name: "benefitsFilter",
        params: {
          business_id: business._id as string,
          color: "transparent",
          banner:
            process.env.VUE_APP_FILES_URL +
            "/public/uploads" +
            business.businessPicture
        }
      });
    };
    return { options, name, filterByBusiness };
  }
});
</script>

<style lang="scss" scoped></style>
