<template lang="pug">
section.section.has-text-centered.container
  img.mb-3(src="@/assets/images/app/confetti.svg")
  h1.title.has-text-danger ¡Felicitaciones!
  h3.subtitle.is-6.has-text-weight-bold Ya podes utilizar tu descuento en el comercio adherido
  FeathersVuexGet(v-slot='{ item: code }' service='codes' :id="id" :params='params')
    CodeCard.my-3(:code="code")
  router-link(to="/user/codes")
    .button.is-danger.p-5.mt-5 Ir a mis cupones
</template>
<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import CodeCard from "@/components/CodeCard.vue";
export default defineComponent({
  components: {
    CodeCard
  },
  setup(props, context) {
    const { $route } = context.root;
    const id = $route.params.id;
    const params = {};
    // const params = { query: { used: false } };
    return { id, params };
  }
});
</script>
<style lang="scss" scoped></style>
