<template lang="pug">
FeathersVuexGet(v-slot="{ item: business }" service="users" :id="id" :params="{}" )
  section(v-if="business")
      .is-relative
        f-img.banner(:image="business.businessPicture")
        f-img.mr-5.circle(:image="business.profilePicture")
      section.section.pt-1
          header.banner-content.mb-3
              h1.title.is-3.has-text-info.has-text-right {{business.businessName}}
          p.has-text-weight-bold.has-text-grey {{ business.businessReview }}
          h4.mt-3.mb-0.subtitle.has-text-weight-bold Descuentos
          hr.my-1.hr
          FeathersVuexFind(v-slot='{ items: benefits }' service='benefits' :params='{ query: {business_id: business._id} }' watch='params')
              section.discounts-names
                  p.has-text-grey(v-for="benefit in benefits") - {{benefit.name}}
          
          h4.mt-3.mb-0.subtitle.has-text-weight-bold Datos de contacto
          hr.my-1.hr
          a(:href="'tel:' + business.phone")
          a(:href="business.businessLink") {{business.address}}
          .button-container.mt-5
            //- router-link.button.is-danger.p-5(:to="{name: 'benefitsFilter',params: {params: {query: {business_id: business._id}},color: 'transparent',banner: bannerRoot + business.businessPicture}}") Obtener Descuentos
            router-link.button.is-danger.p-5(:to="{name: 'benefitsFilter',params: { query: { business_id: business._id}, color: 'transparent', banner: bannerRoot + business.businessPicture}}") Obtener Descuentos
  section.section(v-else)
      h3.title Tuvimos problemas para encontrar este negocio, por favor intenta nuevamente más tarde.



</template>
<script lang="ts">
import FImage from "@/components/FImage.vue";

import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  components: {
    "f-img": FImage
  },

  setup(props, context) {
    const { $route } = context.root;
    const id = $route.params.id;
    const params = { query: {} };
    const bannerRoot = process.env.VUE_APP_FILES_URL + "/public/uploads";
    return { id, params, bannerRoot };
  }
});
</script>
<style lang="scss" scoped>
.hr {
  height: 1px;
  background-color: $black;
}
.banner {
  width: 100%;
  height: 15vh;
  object-fit: cover;
}
.circle {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 2rem;
  transform: translateY(33%);
}
.button-container {
  display: flex;
  justify-content: center;
}
.to-discounts {
  border-radius: 6px;
}
</style>
