<template lang="pug">
    section.section.ucard-container
      GoBack.mt-3
      h1.title.is-4-desktop.is-hidden-touch Mi tarjeta
      aside
        article.card-container
          article#card.ucard(ref="content")
              header.mb-2
                  img(src="@/assets/images/user/logou.svg")
                  h1.title.has-text-weight-bold.is-3.has-text-white Ciudad Universitaria
              p.has-text-weight-bold.is-size-4 {{cardID}}
              p.has-text-weight-bold.is-size-4 {{cardName}}
        .card-actions.mt-5
          .card-action(@click="downloadWithCSS")
            img(src="@/assets/images/user/card_to_pdf.svg")
            p Descargar 
          .card-action
            img(src="@/assets/images/user/unlock.svg")  
            p Desbloquear
        
        hr.separator
        p
          | Si los datos de tu tarjeta son incorrectos por favor llena el siguiente formulario haciendo 
          router-link.has-text-danger(to="") click aqui.
      aside
        hr.separator.is-hidden-desktop
        h3.title.is-6.has-text-danger.mt-0 Información importante
        p.is-size-6 
          | La TARJETA DE BENEFICIOS U! es un programa de beneficios
          | para los estudiantes universitarios que son miembros de 
          | CIUDAD UNIVERSITARIA MENDOZA, un proyecto de la 
          | Municipalidad de la Ciudad de Mendoza.
        hr.separator
        p.has-text-info.mb-2.is-size-6
          | ¿Puedo utilizar la TARJETA U! aunque no sea el titular de la misma?
        p.is-size-6
          | No, la tarjeta es personal e intransferible, sólo puede ser utilizada por el titular.
        hr.separator
        p.has-text-info.mb-2.is-size-6 ¿Tengo que solicitar una tarjeta física?
        p.is-size-6 No, tu tarjeta ahora es digital, podes llevarla con vos descargando un PDF.
        hr
        p.has-text-info.mb-2.is-size-6 Mal uso de tu tarjeta
        p.is-size-6 Ante un mal uso de tu tarjeta de beneficios la misma será bloqueada.
</template>

<script lang="ts">
import jsPDF from "jspdf";
import domtoimage from "dom-to-image";

import { Users } from "@/store/services/users";
import { computed, defineComponent, Ref, ref } from "@vue/composition-api";
export default defineComponent({
  methods: {
    downloadWithCSS() {
      domtoimage
        .toPng(this.$refs.content)
        .then((dataUrl: string) => {
          const img = new Image();
          img.src = dataUrl;
          const doc = new jsPDF();
          doc.addImage(img, "JPEG", 10, 10, 190, 95);
          const { name, lastName } = this.$store.getters["auth/user"];
          const filename = ["TarjetaU_", name, lastName].join("_") + ".pdf";
          doc.save(filename);
        })
        .catch((error: Error) => {
          console.error("oops, something went wrong!", error);
        });
    }
  },
  setup(props, context) {
    const { $store } = context.root;
    const user: Ref<Users> = ref(
      $store.getters["auth/user"] ?? {
        _id: "1234123412341234",
        name: "Jorge",
        lastName: "Pinarello2"
      }
    );

    const cardID = computed(() =>
      [
        ...("5457" +
          user.value.dni?.toString() +
          user.value._id?.toString().substring(0, 4))
      ]
        .map((d, i) => (i % 4 == 0 ? " " + d : d))
        .join("")
        .trim()
    );
    console.log(user.value);

    const cardName = computed(
      () => user.value.name + " " + user.value.lastName
    );
    return { cardID, cardName };
  }
});
</script>

<style lang="scss" scoped>
$purple: #7a56fc;
.card-actions {
  display: flex;
  justify-content: space-evenly;
}
.card-action {
  cursor: pointer;
  text-align: center;
}
.card-container {
  display: grid;
  justify-items: center;
}
.ucard {
  * {
    font-size: 0.675rem !important;
  }
  background-color: $purple;
  max-width: 30rem;
  // max-height: 15rem;
  padding: 3rem;
  color: $white;
  border-radius: 2rem;
  // margin: 0 auto;
  header {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    img {
      scale: 0.675;
      @include bp(small-up) {
        scale: 1;
        margin-right: 2rem;
      }
    }
    @include bp(small-up) {
      flex-direction: row;
      justify-items: unset;
    }
  }
  &-container {
    @include bp(large-up) {
      display: grid;

      justify-items: center;
      align-items: start;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2rem auto;
      gap: 2.5rem;
      h1 {
        grid-column: 1/3;
        justify-self: start;
      }
      aside {
        max-width: 40rem;
      }
    }
  }
  @include bp(small-up) {
    * {
      font-size: 1.5rem !important;
    }
  }
}
</style>
