<template lang="pug">
    section.section.container
      GoBack.mb-3
      FeathersVuexFind(v-slot='{ items: codes }' service='codes' :params='codesParams')
        section.codes-container(v-if="codes.length !== 0")
          CodeCard.my-3(v-for="code in codes" :code="code" :key="code._id")
        section(v-else-if="codes.length === 0")
          article.box.p-5
            h1.title.is-3.has-text-danger
              | No tienes códigos disponibles en este momento.
       
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import CodeCard from "@/components/CodeCard.vue";
export default defineComponent({
  components: { CodeCard },
  setup(props, context) {
    const { $store } = context.root;
    const codesParams = {
      query: { user: $store.getters["auth/user"]._id }
    };
    return { codesParams };
  }
});
</script>

<style lang="scss" scoped>
.codes-container {
  display: grid;
  grid-template-columns: 1fr;
  @include bp(medium-up) {
    grid-template-columns: 1fr 1fr;
  }
  @include bp(large-up) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
</style>
