<template lang="pug">
    section.section
        header.greetings.mb-3
          ProfilePicture.mr-3
          h1.title.is-5.has-text-weight-bold ¡Hola {{user.name}} {{user.lastName}}!
        hr.my-3
        section.home
          main.benefits-container 
            h2.title.is-6.has-text-weight-bold.has-text-danger Últimos descuentos y beneficios
            FeathersVuexFind(v-slot='{ items: benefits }' service='benefits' :params='{ query: {$limit: 5} }' watch='params')
              //- b-carousel-list(:data="benefits" :items-to-show="2")
              //-   template(#item="benefit")
              //-     BenefitCardVue(:benefit="benefit" :key="benefit.id")
              div.carousel-container
                carousel(
                  :autoplayTimeout="3000" 
                  :autoplay="true" 
                  :loop="true" 
                  :scrollPerPage="true" 
                  :perPageCustom="[[200, 1], [320, 1] ,[480, 2], [768, 3], [1280, 3], [1660, 4]]" 
                  :paginationPadding="2" 
                  paginationActiveColor="#ed4b7c"
                  )               
                    slide(v-for="benefit in benefits")
                      //- router-link(:to="'/user/benefit/'+ benefit._id")
                      BenefitCardVue(:benefit="benefit" :key="benefit.id")
          aside.news-container                          
            router-link(to="/user/codes")
              h2.title.mt-3.py-3.is-6.has-text-danger.has-text-weight-bold.is-relative
                |  Mís Códigos
                img.title-arrow(src="@/assets/images/app/arrow.svg" width="20px")
            //- FeathersVuexCount(v-slot="{ total }" service="codes" :params="codesParams")
            article.card.p-3.mt-2.home-card
              aside
                Progress(:strokeColor="'#ed4b7c'" :value='total.value ? (total.value/10)*100 : 0', :radius="28")
                  span.has-text-danger {{ total ? total : 0 }}
              aside.home-card-content
                b Mis códigos de descuento
                br
                | Tienes {{ total ? total : 0 }} códigos para utilizar de
                | 10 en total.
            News
</template>

<script lang="ts">
// import BenefitCardVue from "@/components/BenefitCard.vue";
import BenefitCardVue from "@/components/Benefits/BenefitCard.vue";
import ProfilePicture from "@/components/ProfilePicture.vue";
import News from "@/components/News.vue";
import { Users } from "@/store/services/users";
import Progress from "easy-circular-progress";
import { defineComponent, onMounted, Ref, ref } from "@vue/composition-api";
import client from "@/feathers-client";
import { Codes } from "@/store/services/codes";
export default defineComponent({
  components: {
    BenefitCardVue,
    Progress,
    ProfilePicture,
    News
  },
  setup(props, context) {
    const { $store } = context.root;
    const user: Ref<Users> = ref($store.getters["auth/user"]);

    const codesParams = ref({
      query: { user: user.value._id }
    });
    const total = ref(0);

    onMounted(async () => {
      total.value = ((await client.service("codes").find({
        query: { user: $store.getters["auth/user"]._id }
      })) as Codes[]).length;
    });

    return { codesParams, user, total };
  }
});
</script>

<style lang="scss" scoped>
.VueCarousel-slide {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.VueCarousel-pagination {
  margin-top: 1rem !important;
}

.title-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.home-card {
  display: grid;
  grid-template-columns: 5rem auto;
  align-items: center;
  justify-items: center;
}
.greetings {
  display: flex;
  align-items: center;
}
.home {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  @include bp(large-up) {
    grid-template-columns: 50% auto;
  }
}
.carousel-container {
  max-width: 90vw;
}
</style>
