<template lang="pug">
    Layout
        template(#header)
            router-link(to="/user") Inicio
            router-link(to="/user/benefits") Beneficios
            router-link(to="/user/codes") Mis Códigos
            router-link(to="/user/card") Tarjeta U!
        template(#personal)
          router-link(to="/user/profile") Mi Perfil
          br
          router-link(to="/user/contact") Contacto
        XyzTransition(appear mode="out-in" xyz="fade right")
          router-view
</template>

<script lang="ts">
import Layout from "@/components/Layout.vue";
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  components: {
    Layout
  }
});
</script>

<style lang="scss" scoped></style>
