<template lang="pug">
    section.section
        h2.title.is-3 Mi Perfil
        .profile
            .profile-container
                .profile-picture.is-fullwidth.has-text-centered
                    ProfilePicture.profilePicture(v-if="!file")
                    img.rounded-img(v-else :src="user.profilePicture")
                    section.mb-3
                        b-field
                            b-upload(v-model='file', accept="image/jpg,image/png,image/jpeg", @input="onFileUpload")
                                section.is-fullwidth.is-clickable
                                    b-icon.p-3(icon='upload')
                                    //- .content.is-fullheight.flex-center
                                    //-     p(style="margin-left: 1.5rem")
                .personal-data
                    h3.title.has-text-danger.is-4.mb-2 Información Personal
                    .data-columns
                        .column-left
                            p.has-text-weight-bold Nombre y Apellido
                            p.has-text-weight-bold Fecha de Nacimiento
                            p.has-text-weight-bold DNI
                            p.has-text-weight-bold Universidad
                            p.has-text-weight-bold Facultad/Carrera
                            p.has-text-weight-bold Legajo/Matricula
                        .column-right
                            p.has-text-grey {{user.fullName}}
                            p.has-text-grey {{user.formatedBirthday}}
                            p.has-text-grey {{ user.dni }}
                            p.has-text-grey {{user.university}}
                            p.has-text-grey {{user.facultyAndCareer}}
                            p.has-text-grey {{ user.registration }}
                hr.is-hidden-desktop
            .personal-contact
                h3.title.has-text-danger.is-4.mb-2 Información de Contacto
                .data-columns
                    .column-left
                        p.has-text-weight-bold Celular
                        p.has-text-weight-bold Email
                        p.has-text-weight-bold Dirección
                    .column-right
                        p.has-text-grey 
                            b-field.searchable-table
                                b-input(:placeholder="user.phone" v-model="phone")
                        p.has-text-grey {{user.email}}
                        p.has-text-grey 
                            b-field.searchable-table
                                b-input(:placeholder="user.address" v-model="address")
                hr
            .personal-data
                h3.title.has-text-danger.is-4.mb-2 Datos de Ingreso
                .data-columns
                    .column-left
                        p.has-text-weight-bold Email
                        p.has-text-weight-bold Contraseña
                    .column-right
                        p.has-text-grey {{user.email}}
                        p.has-text-grey
                                b-field.searchable-table
                                    b-input(placeholder="*******" v-model="password" type="password" password-reveal)
                p.is-fullwidth.has-text-centered.mt-5
                    b-button(type="is-info" label="Actualizar Datos" @click="updateData")
                

</template>

<script lang="ts">
import { defineComponent, ref } from "@vue/composition-api";
import ProfilePicture from "@/components/ProfilePicture.vue";
import client from "@/feathers-client";
import axios from "axios";
export default defineComponent({
  components: {
    ProfilePicture
  },
  setup(props, context) {
    const { $store, $buefy } = context.root;
    const user = $store.getters["auth/user"];
    user.fullName = user.name + " " + user.lastName;
    const date = new Date(user.birthday);
    user.formatedBirthday =
      date.getDay() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
    user.password = "******";
    const password = ref("");
    const address = ref(user.address);
    const phone = ref(user.phone);
    const userService = client.service("users");

    const file = ref();
    const onFileUpload = () => {
      const reader = new FileReader();
      reader.addEventListener("load", () => {
        user.profilePicture = reader.result;
      });
      reader.readAsDataURL(file.value);
    };

    const uploadPhoto = async () => {
      if (file.value) {
        const formData = ref();
        const data = new FormData();
        data.append("uri", file.value);
        await axios.post(
          process.env.VUE_APP_API_URL + "/uploads?type=profile",
          data,
          {
            headers: {
              "Content-Type": "multipart/form-data",
              Authorization: "Bearer " + $store.state.auth.accessToken
            }
          }
        );
      }
    };
    const updateData = async () => {
      const payload: any = {
        address: address.value,
        phone: phone.value
      };

      if (password.value !== "") {
        payload.password = password.value;
      }
      await userService.patch(user._id, { ...payload });
      await uploadPhoto();
      $buefy.toast.open({
        message: `¡Datos actualizados correctamente!`,
        type: "is-info"
      });
    };
    return { user, password, address, phone, updateData, file, onFileUpload };
  }
});
</script>

<style lang="scss" scoped>
.data-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  p {
    margin: 1rem 0;
  }
}
.searchable-table {
  max-width: 15rem;
}
.profile {
  display: grid;
  gap: 1.5rem;
  @include bp(large-up) {
    grid-template-columns: 1fr 1fr;
  }
}
.profile-container {
  grid-row: 1 / 3;
}
.profilePicture {
  width: 10rem;
  height: 10rem;
}
.rounded-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}
</style>
