<template lang="pug">
header.lg-header.flex-center(:class="classObject")
    img(src="@/assets/images/login/ciudadu.svg", alt="ciudadu logo")
    img.ld-header__dots(src="@/assets/images/login/dots.svg")    
</template>
<script lang="ts">
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  props: {
    rol: {
      type: String,
      required: true
    }
  },
  computed: {
    classObject(): {} {
      return {
        "lg-header--student": this.rol === "user",
        "lg-header--business": this.rol === "business"
      };
    }
  }
});
</script>
<style lang="scss" scoped>
.lg-header {
  @include show(medium, flex);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  position: relative;
  // margin-bottom: 0.5rem;
  img {
    $size: 4rem;
    width: $size;
    height: $size;
  }
  &--student {
    background-image: url("../../assets/images/login/users.jpg");
  }
  &--business {
    background-image: url("../../assets/images/login/business.jpg");
  }
  .ld-header__dots {
    position: absolute;
    bottom: 0;
    transform: translateY(105%);
    right: 2.5rem;
    width: 20%;
    object-fit: cover;
  }
}
</style>
