<template lang="pug">
    section.layout
        slot.layout__content holi
        footer.layout__footer
            img.layout__footer-img(src="@/assets/images/login/logo.svg" loading="lazy")
            p.layout__footer-text.has-text-weight-bold
                | Copyright 2021 / Ciudad de Mendoza
</template>
<script lang="ts">
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  name: "LoginLayout"
});
</script>
<style lang="scss">
.layout {
  //   position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  &__content,
  > section {
    flex: 1;
  }
  &__footer {
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $green;
    padding: 1rem;
    @include show(medium, flex);
    &-text {
      color: $white;
    }
    &-img {
      height: 3rem;
      margin-bottom: 0.75rem;
    }
  }
}
</style>
