<template lang="pug">
  #app
    XyzTransition(appear mode="out-in" xyz="fade right")
      router-view

</template>
<script lang="ts">
import { defineComponent } from "@vue/composition-api";
export default defineComponent({});
</script>
<style lang="scss"></style>
