<template lang="pug">
    section.section
        h1.title {{jwt}}
</template>
<script lang="ts">
import { defineComponent, onMounted } from "@vue/composition-api";
import client from "@/feathers-client";
export default defineComponent({
  setup(props, context) {
    const { $route } = context.root;
    const jwt: string = $route.query.jwt as string;
    onMounted(async () => await client.authentication.setAccessToken(jwt));
    return { jwt };
  }
});
</script>
