<template lang="pug">
    section.login-container
        Header(:rol="rol")
        aside.login-banner.section(:class="bannerClass")
            img(src="@/assets/images/login/ciudadu.svg", width="150" heigh="150" alt="ciudadu logo")           
            p.has-text-white(v-if="rol === 'user'")
                | Tenemos un nuevo diseño para que 
                | disfrutes de todos los beneficios 
                | de ser parte de Ciudad Universitaria.
            p.has-text-white(v-if="rol === 'business'")
                | Tenemos un nuevo diseño para que
                | administres tu comercio dentro de
                | Ciudad Universitaria.
            img(src="@/assets/images/login/logo.svg", alt="Mendoza Ciudad Logo")           
            
        aside.section.login-form.flex-center.is-flex-direction-column.is-justify-content-space-around
          XyzTransition(appear mode="out-in" xyz="fade right")
            router-view
</template>
<script lang="ts">
import Header from "@/components/Login/Header.vue";
import { defineComponent } from "@vue/composition-api";

export default defineComponent({
  components: {
    Header
  },
  props: {
    rol: {
      type: String,
      required: true
    }
  },
  computed: {
    bannerClass(): {} {
      return {
        "login-banner--student": this.rol === "user",
        "login-banner--business": this.rol === "business"
      };
    }
  }
});
</script>

<style lang="scss" scoped>
.login {
  &-form {
    flex: 1;
  }
  &-container {
    display: flex;
    flex-direction: column;
    @include bp(large-up) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: column;
    }
  }
  &-banner {
    @include show(large-up, flex);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    &--student {
      background-image: url("../../assets/images/login/users.jpg");
      grid-column: 1 / 2;
      align-items: flex-start;
    }
    &--business {
      background-image: url("../../assets/images/login/business.jpg");
      grid-column: 2/ 3;
      align-items: flex-end;
    }
    p {
      max-width: 80%;
    }
  }
}
</style>
