<template lang="pug">
    div
        FormulateForm(v-model="formData" :schema="schema" @click-submit="authenticate")
        //- a.mt-5.input.button.is-info.is-outlined(:href="googleSignIn") Inicio de Sesión con Google
        p.has-text-danger.has-text-weight-bold.has-text-centered.mt-3.mt-6-desktop(v-if="loginError") 
            b-icon.mr-3(icon="information-outline" type="is-danger")
            | Usuario o Contraseña incorrecto.
</template>
<script lang="ts">
import { defineComponent, Ref, ref } from "@vue/composition-api";
import { loginForm } from "./loginForm";

export default defineComponent({
  props: {
    rol: {
      type: String,
      required: true
    }
  },
  setup(props, context) {
    const formData: Ref<{ email?: string; password?: string }> = ref({});

    const schema = loginForm(props.rol);
    const { $store, $router } = context.root;
    const loginError = ref(false);
    const authenticate = async () => {
      try {
        await $store.dispatch("auth/authenticate", {
          strategy: "local",
          email: formData.value.email,
          password: formData.value.password
        });
        console.log($store.state.errorOnAuthenticate);
        if ($store.getters["auth/isAuthenticated"]) {
          $router.push({ name: "Home" });
        }
      } catch (error) {
        formData.value = {};
        loginError.value = true;
      }
    };
    const googleSignIn = process.env.VUE_APP_API_URL + "/oauth/google";

    return { authenticate, formData, schema, loginError, googleSignIn };
  }
});
</script>
<style lang="scss" scoped></style>
