<template lang="pug">
    section.login
        .section.flex-center.is-flex-direction-column.login__item.login__item--first(@click="$router.push({ path: '/login/user' })")
            h1.title.has-text-white.is-size-1.has-text-weight-bold Estudiante
            p.has-text-white.is-hidden-touch.mb-4
                | Tenemos un nuevo diseño para que 
                | disfrutes de todos los beneficios de ser parte de Ciudad Universitaria.
            //- h3.subtitle.has-text-white.has-text-centered(v-if="action === 'signup'") Ya tienes una cuenta estudiante? <b>Ingresar</b>
            //- h3.subtitle.has-text-white.has-text-centered(v-else) No tienes una cuenta estudiante?
            //-   b
            //-     router-link.has-text-white.pl-1(to="/signup/business") Registrarse
        img.login__img(src="@/assets/images/login/ciudadu.svg")
        .login__img-container
            img(src="@/assets/images/login/ciudadu.svg")           
            img(src="@/assets/images/login/logo.svg")           
        .section.flex-center.is-flex-direction-column.login__item.login__item--second(@click="$router.push({ path: '/login/business' })")
            h1.title.has-text-white.is-size-1.has-text-weight-bold Comercio
            p.has-text-white.is-hidden-touch.mb-4 
                | Tenemos un nuevo diseño para que 
                | disfrutes de todos los beneficios de ser parte de Ciudad Universitaria.
            //- h3.subtitle.has-text-white.has-text-centered(v-if="action === 'signup'") Ya tienes una cuenta comercio? <b>Ingresar</b>
            //- h3.subtitle.has-text-white.has-text-centered(v-else) No tienes una cuenta comercio? 
            //-   b 
            //-     router-link.has-text-white.pl-1(to="/signup/business") Registrarse
</template>
<script lang="ts">
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  props: {
    action: {
      type: String,
      required: true
    }
  }
});
</script>
<style lang="scss" scoped>
.login {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  @include bp(large-up) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include show(medium, block);
    &-container {
      @include show(large-up, flex);
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      padding: 3rem 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__item {
    * {
      will-change: transform;
      transition: $transition;
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    @include bp(large-up) {
      align-items: flex-start;
    }
    &--first {
      background-image: url("../../assets/images/login/users.jpg");
    }
    &--second {
      background-image: url("../../assets/images/login/business.jpg");
    }
  }
  &__item:hover * {
    transform: translateY(-1rem);
  }
}
</style>
