<template lang="pug">
    article.card.m-3
        .card-image
            figure.image.is-2by1
                f-img(:image="benefit.picture" style="object-fit: cover; max-height: 10rem;")
        .card-content.is-relative.p-3
            span.tag.is-info.my-2 {{benefit.category}}
            router-link(:to="{path: '/user/business/' + benefit.business_id}")
                h3.mb-0.title.is-4.has-text-link {{benefit.business.businessName}}
            p.my-1.is-capitalized {{benefit.name}}
            p.my-1.is-capitalized Pago en: {{payments}}
            p.my-1.is-capitalized {{days}}
            button.button.tag.is-danger(@click="claimBenefit" v-if="canClaim") Obtener            
</template>

<script lang="ts">
import client from "@/feathers-client";
import FImage from "@/components/FImage.vue";
import { Benefits } from "@/store/services/benefits";
import { defineComponent, onMounted, ref } from "@vue/composition-api";
import { models } from "feathers-vuex";
export default defineComponent({
  components: {
    "f-img": FImage
  },
  props: {
    benefit: {
      type: Object,
      required: true
    }
  },
  setup(props, context) {
    const { $router } = context.root;
    const days = (props.benefit as Benefits).validDays?.join(", ");
    const payments = (props.benefit as Benefits).acceptedPayments?.join(", ");
    const claimBenefit = async () => {
      const { Code } = models.api;
      const code = new Code({ benefit: props.benefit._id });
      await code.save();
      $router.push("/user/benefit/" + code._id);
    };
    const canClaim = ref(true);
    const canClaimCheck = async () => {
      const params = {
        query: {
          $limit: 0
        }
      };
      const response = await client.service("codes").find({});
      return response.length > 9 ? false : true;
    };
    onMounted(async () => {
      canClaim.value = await canClaimCheck();
    });
    return { days, payments, claimBenefit, canClaim };
  }
});
</script>
<style lang="scss" scoped>
.card {
  // height: 95%;
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    * {
      margin-right: auto;
    }
  }
}
</style>
