<template lang="pug">
    //- router-link(:to="{ path: '/user/benefits/filter', params: {...data}}")
    router-link.item-container(:to="{ name: 'benefitsFilter', params: {...data}}")
        article.card.benefit-item(:style="cssVars")
            main.is-relative
                //- f-img.benefit-item-img(:image="data.picture")
                img.benefit-item-img(:src="data.picture")
                h3.p-3.title.is-4.has-text-white.has-text-weight-bold.benefit-item-text.has-text-centered.is-capitalized {{data.category}}

</template>
<script lang="ts">
import FImage from "@/components/FImage.vue";
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  components: {
    "f-img": FImage
  },
  setup(props, context) {
    const cssVars = {
      "--bg-color": props.data.color ?? "red"
    };
    const categoryUrlEncoded = (props.data.category as string).replaceAll(
      " ",
      "+"
    );
    return { cssVars, categoryUrlEncoded };
  }
});
</script>
<style lang="scss" scoped>
$height: 8rem;
$width: 16/10 * $height;
.benefit-item {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: var(--bg-color, #ffca19);
  //   max-width: $width;
  //   max-height: $height;
  main::after {
    content: "";
    position: absolute;
    bottom: 0;
    // top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1.5rem;
    background-color: var(--bg-color);
  }
  &-img {
    // max-height: $height;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.75);
  }
  &-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    vertical-align: center;
  }
}
.item-container {
  max-width: 15rem;
  width: 100%;
}
</style>
