<template lang="pug">
    .benefits.is-relative
        BenefitItem(v-if="items" v-for="(item, index) in items" :data="item" :key="index")
</template>
<script lang="ts">
import { defineComponent, onMounted, ref } from "@vue/composition-api";
import BenefitItem from "@/components/Benefits/BenefitItem.vue";
import axios from "axios";

export default defineComponent({
  components: {
    BenefitItem
  },
  setup(props, context) {
    const items = ref();

    // const itemlist = [1, 2, 3, 4, 5, 6, 7, 8, 9];
    // const items = itemlist.map(() => {
    //   return {
    //     color: "#" + Math.round(Math.random() * 16777215).toString(16),
    //     category: "frutas y verduras",
    //     picture: "/pictures/default.jpg"
    //   };
    // });
    onMounted(() => {
      axios
        .get(process.env.VUE_APP_STRAPI_URL + "/benefit-categories")
        .then(response => {
          const data = response.data;
          items.value = data;
        });
    });
    return { items };
  }
});
</script>
<style lang="scss" scoped>
.benefits {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  @include bp(large-up) {
    grid-template-columns: repeat(5, 1fr);
  }
}
</style>
