<template lang="pug">
.card.m-5.is-relative
    XyzTransition(appear mode="out-in" xyz="fade center")
      .delete-overlay.flex-center(v-if="canDelete")
          button.button.is-danger(@click="removeBenefit") Eliminar
    .card-image.is-relative
        span.tag.validated.p-4.is-size-5.has-text-weight-bold.is-capitalized(:class="objectClass") {{benefit.validated}}
        span.tag.is-danger.circle.p-3.is-size-4.has-text-weight-bold(v-if="benefit.percentage") {{benefit.percentage}}%
        figure.image.is-16by9
            f-img(:image="benefit.picture")
    .card-content.p-4
        h3.title.is-4.is-capitalized.mb-0 {{benefit.name}}
        router-link.edit.p-3(:to="'/business/benefits/edit/' + benefit._id" v-if="canEdit && editable") 
            b-icon(icon="pencil")
</template>
<script lang="ts">
import client from "@/feathers-client";
import { defineComponent } from "@vue/composition-api";
export default defineComponent({
  emits: ["benefit:removed"],
  props: {
    benefit: {
      type: Object,
      required: true
    },
    canDelete: {
      type: Boolean,
      default: false
    },
    editable: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    async removeBenefit() {
      console.log();
      try {
        await client.service("benefits").remove(this.benefit._id);
        this.$emit("benefit:removed", this.benefit._id);
        this.$buefy.toast.open({
          message: `¡Beneficio Eliminado Exitosamente!`,
          type: "is-info"
        });
      } catch (error) {
        console.log(error);

        this.$buefy.toast.open({
          message: `¡Algo Salio Mal!`,
          type: "is-error"
        });
      }
    }
  },
  setup(props, context) {
    // const { } = context.root;
    const objectClass = {
      "is-success":
        props.benefit.validated === "validated" ||
        props.benefit.validated === "yes",
      "is-danger": props.benefit.validated === "denied",
      "is-info": props.benefit.validated === "pending"
    };
    const canEdit = () => {
      const createdAt = new Date(props.benefit.createdAt);
      const currentDate = new Date(Date.now());
      const differenceMilliseconds = Math.abs(
        currentDate.getTime() - createdAt.getTime()
      );
      const differenceDays = Math.ceil(
        differenceMilliseconds / (1000 * 60 * 60 * 24)
      );
      return differenceDays > 30 ? true : false;
    };
    return { objectClass, canEdit };
  }
});
</script>
<style lang="scss" scoped>
.circle {
  $size: 6rem;
  width: $size;
  height: $size;
  border-radius: 50%;
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.validated {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delete-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000088;
  z-index: 3;
}
</style>
